@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --a: 0;
  --playbar-y: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.close {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 23px;
  list-style: none;
  padding-top: 15px;
  font-weight: bold;
  margin-left: 4px;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.right {
  margin: 16px 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34 34 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylist {
  padding: 16px;
}

.spotifyPlaylist h1 {
  padding: 16px;
}

.cardcontainer {
  margin: 10px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  width: 225px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 0.9s;
}
.card:hover {
  cursor: pointer;
  --a: 1;
  --playbar-y: 0; /* Move playbar to original position on hover */
}

.card > * {
  padding-top: 10px;
  overflow-wrap: break-word;
}

.card-img {
  width: 225px;
  height: 225px;
  overflow-wrap: break-word;
  display: flex;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 115px;
  right: 30px;
  opacity: var(--a);
  transform: translateY(var(--playbar-y));
  transition: transform 0.5s ease-out;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons > * {
  margin: 0 12px;
}

.signupBtn {
  background-color: rgb(34 34 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signupBtn:hover {
  font-size: 17px;
  color: white;
}

.loginBtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}

.loginBtn:hover {
  font-weight: bold;
  font-size: 17px;
}

.playbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  background: #e2d9d9;
  border-radius: 10px;
  padding: 7px;
  width: 69vw;
  min-height: 40px;
}
.playsong,
.previousong,
.nextsong {
  cursor: pointer;
}
.songbutton {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songlist {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.songlist ul {
  padding: 0 12px;
}

.songlist ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid rgba(146, 143, 143, 0.491);
  margin: 12px 0px;
  padding: 13px;
  border-radius: 5px;
}

.songlist .info {
  font-size: 13px;
  width: 140px;
}

.info div {
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.seekbar {
  height: 6px;
  width: 98%;
  background: black;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}

.songbutton img {
  cursor: pointer;
}

.timevolume {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}

.songtime {
  width: 125px;
  color: black;
  padding: 0 12px;
}

.volumebar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.range input {
  cursor: pointer;
}

.aboutbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 1;
    width: 373px;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .songinfo,
  .songtime {
    width: auto;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevolume {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    gap: 5px;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playbar {
    width: calc(100vw - 67px);
  }

  .seekbar {
    width: calc(100vw - 73px);
  }

  .hamburger {
    display: block;
  }

  .cardcontainer {
    margin: 0;
    justify-content: center;
  }

  .close {
    display: block;
  }

  .aboutbar {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .cardcontainer {
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }

  .cardcontainer .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 234px;
    width: 145px;
    font-size: 11px;
    gap: 10px;
  }

  .card-img {
    width: 145px;
    height: 150px;
  }


}

@media (max-width: 500px) {
  .card {
    width: 65%;
  }

  .header > * {
    padding: 2px;
  }

  .buttons > * {
    margin: 0 6px;
  }

  .header {
    padding: 7px;
  }

  .spotifyPlaylist h1 {
    padding: 4px;
  }

  .library {
    height: 85vh;
  }

  .left {
    width: 100vw;
  }
}
