* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
  }
  
  .top {
    height: 50px;
    background-color: orange;
  }
  
  .top-2 {
    height: 46px;
    width: 99%;
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 12px;
    padding-top: 2px;
    justify-content: space-evenly;
  }
  
  .site span {
    font-size: 0.85rem;
  }
  
  .site p {
    color: orange;
  }
  
  .link span {
    font-size: 0.85rem;
  }
  
  .link p,
  a {
    color: rgb(9, 114, 226);
    text-decoration: none;
  }
  
  .share span {
    font-size: 0.85rem;
  }
  
  .share i {
    font-size: 1.5rem;
    margin: 12px;
    cursor: pointer;
  }
  
  .text p {
    font-size: 0.85rem;
    padding: 0px 270px 0px 270px;
  }
  
  .text a {
    font-size: 0.85rem;
    color: rgb(9, 114, 226);
  }
  
  .earn span {
    font-size: 0.85rem;
    color: rgb(9, 114, 226);
    position: relative;
    top: -1px;
    cursor: pointer;
  }
  
  .help p {
    font-size: 0.85rem;
    color: rgb(9, 114, 226);
    cursor: pointer;
  }
  
  .setting i {
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-logo {
    height: 50px;
    width: 100px;
  }
  
  .logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
  }
  
  .border {
    border: 2px solid transparent;
  }
  
  .border:hover {
    border: 2px solid rgb(241, 234, 234);
  }
  
  .address-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
  }
  
  .address-second {
    font-size: 1rem;
    margin-left: 3px;
  }
  
  .address-icon {
    display: flex;
    align-items: center;
  }
  
  .nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
  }
  
  .nav-search:hover {
    border: 2px solid orange;
  }
  
  .search-select {
    background-color: #f3f3f3;
    width: auto;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
  }
  
  .search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
  }
  
  .search-icon {
    width: 45PX;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f3bd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
  }
  
  span {
    font-size: 0.7rem;
  }
  
  .nav-second {
    font-size: 0.85rem;
    font-weight: 700px;
  }
  
  .nav-cart i {
    font-size: 30px;
  }
  
  .nav-cart {
    font-size: 0.85rem;
    font-weight: 700px;
  }
  
  .panel {
    height: 40px;
    background-color: #222f3b;
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .panel-all {
    cursor: pointer;
  }
  
  .panel-ops p {
    display: inline;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .panel-ops {
    width: 80%;
    font-size: 0.85rem;
  }
  
  .panel-deals {
    font-size: 0.9rem;
    font-weight: 700px;
    cursor: pointer;
  }
  
  .hero-section {
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    /* position: relative;
    z-index: 10; */
  }
  
  .hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    /* position: relative;
    z-index: 20; */
  }
  
  .hero-msg a {
    color: #007185;
  }
  
  .hero-msg p {
    cursor: text;
  }
  
  .shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
  }
  
  .box {
    height: 100px;
    width: 23%;
    height: 400px;
    background-color: white;
    padding-left: 20px 0px 15px;
    margin-top: 10px;
  }
  
  .box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .box-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .box-content h2 {
    padding-top: 10px;
  }
  
  .box-content p {
    color: #007185;
  }
  
  .foot-panel-1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }
  
  footer {
    margin-top: 15px;
  }
  
  .foot-panel-2 {
    background-color: #131b26;
    border-top: 0.5px solid white;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
  }
  
  ul {
    margin-top: 20px;
  }
  
  .foot-panel-2 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
  }
  
  .foot-panel-3 {
    background-color: #131b26;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
  }
  
  .foot-panel-4 {
    background-color: #0f1111;
    color: white;
    border-top: 0.5px solid white;
    height: 100px;
    text-align: center;
  }
  
  .pages {
    font-size: 0.7rem;
    padding-top: 25px;
  }
  
  .copyright {
    font-size: 0.7rem;
    padding-top: 0.5rem;
  }
  

  
  @media (max-width: 768px) {
    .nav-search {
      width: 90%;
    }
    .nav-cart {
      margin-right: 10px;
    }
    .panel-ops {
      display: none;
    }
    .hero-section {
      height: 200px;
    }
    .hero-msg {
      width: 95%;
      margin-bottom: 10px;
    }
    .box {
      width: 48%;
      margin-bottom: 20px;
    }
    .text p{
      padding: 0px 20px 0px 20px;
    }
  }
  
  @media (max-width: 1180px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding: 10px 0;
    }
    .nav-logo,
    .address-icon {
      margin-bottom: 10px;
    }
    .nav-search {
      width: 100%;
    }
    .box {
      width: 100%;
    }
    .foot-panel-2 {
      flex-direction: column;
      height: auto;
      padding: 20px;
      text-align: center;
    }
    .foot-panel-2 ul {
      margin-bottom: 20px;
    }
    .text p{
      padding: 0px 10px 0px 10px;
    }
  }
  