* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'martel sans', sans-serif;
    text-align: center;
    padding: 0 23px;
    gap: 15px;
}

.hero> :first-child {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}


.line {
    height: 5px;
    background-color: gray;
    position: relative;
    z-index: 20;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgb(23, 23, 23, 0.5);
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    font-weight: 400;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    font-size: 27px;
    max-width: 90vw;
    margin: auto;
    color: white;
    align-items: center;
    gap: 123px;
}


@media screen and (max-width:1320px) {

    .first {
        flex-wrap: wrap;
    }
}

.secvideo video {
    height: 290px;
    width: 400px;
    margin: 25px 40px;
}


section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}



section.first>div :nth-child(1) {
    font-size: 43px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}


.secimg img {
    height: 298px;
    width: 400px;
    margin: 25px 40px;

}

.FAQ {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;

}


.faqbox:hover {
    background-color: rgb(37, 36, 36);
}

.FAQ h2 {
    text-align: center;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 24px;
    font-size: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}


footer .question {
    padding: 34px 0;
}

.footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1320px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}